@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');

.img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    }

.navbar-brand img{
    height: 300px;
}

.navbar {
    background-image: url("./HeroOneBg.svg");
    border-bottom: double;
    max-height: 60px;
    /* code below makes navbar fixed */
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar-item {
    font-family: 'Barlow Condensed', sans-serif;
}

.navbar-item img {
    justify-content: center;
    align-items: center;
}

.navbar a:hover {
    background: #ede0d8;
    color: #6d615d;
}

.navbar-burger .burger .menu {
    position: absolute;
    right: 10px;
    top: 20px;
}

.main { 
    margin-top: 30px;
}
